body{
     background-color: #34495e;
     width: 90%;
}
 .photos_wrapper{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}
 img{
     width: 18vw;
     height: 18vh;
     margin-right: 1vw !important;
}
 .page{
     display: flex;
     flex-direction: column;
}
 .searchArea{
     margin: 0 auto;
     margin-bottom: 3%;
     margin-top: 3%;
}
 .loadBtn{
     margin: 0 auto;
     width: 10%;
}
 button{
     background-color: #16a085;
}
 label{
     color: white;
}
 a{
     color: #3498db;
}
